<div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" aria-labelledby="featuresModalLabel" aria-hidden="true">
	<div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="featuresModalLabel">Features</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		
			<div class="modal-body">
				<ul>
					<li>JADN validation of messages in
						<ul>
							<li>JSON Format</li>
							<li>CBOR Format</li>
							<li>XML Format</li>
						</ul>
					</li>
				  	<li>JADN Schema conversion to
						<ul>
							<li>JADN Format</li>
							<li>ProtoBuf3 Format</li>
							<li>Relax-NG Format</li>
							<li>CDDL Format</li>
							<li>MarkDown Format</li>
							<li>HTML Format</li>
						</ul>
					</li>
				</ul>
      		</div>
    	</div>
  	</div>
</div>