{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}

    <div id="alert-container" class="container-fluid mt-3"></div>

    <div class="container-fluid mt-3">
        <div class="row">
            <form class="mx-auto col-12" action="/validate" method="post" onsubmit="return validateForm()">
                <fieldset>
                    <legend>JADN Schema</legend>
					<div class="form-row">
						<div class="form-group col-md-4">
							<select class="form-control" id="schema" name="schema">
								<option value="empty" selected="">Schema</option>
								{% for opt in options.schemas %}
									<option value="{{ opt }}">{{ opt }}</option>
								{% endfor %}
								<option disabled="">──────────</option>
								<option value="">File...</option>
								<option value="">URL...</option>
							</select>
					   </div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-12">
							<textarea class="form-control border" placeholder="Paste JADN schema here" id="schema-text" name="schema-text" rows="10" required="required"></textarea>
						</div>
					</div>

                    <div class="float-right">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="format('schema')">Format Schema</button>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Message</legend>
					<div class="form-row">
						<div class="form-group col col-md-4">
							<select class="form-control" id="message" name="message">
								<option value="empty" selected="">Message</option>
								{% for opt in options.messages %}
									<option value="{{ opt }}">{{ opt }}</option>
								{% endfor %}
								<option disabled="">──────────</option>
								<option value="">File...</option>
								<option value="">URL...</option>
							</select>
						</div>
						
						<div class="form-group col-md-4">
							<select class="form-control" id="decode" name="decode">
								<option value="empty" selected="">Decode</option>
							</select>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-12">
							<textarea class="form-control border" placeholder="Paste message to be validated here" id="message-text" name="message-text" rows="5" required="required"></textarea>
						</div>
					</div>

					<div class="float-right">
						<button type="button" class="btn btn-secondary btn-sm" onclick="format('message')">Format Message</button>
					</div>                    
                </fieldset>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">Validate</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_script %}
<script type="text/javascript">
	var alert_id = 1
	
    $("#schema, #message").change(function(e) {
        id = $(e.target).attr("id")
        selected = $(e.target).val()

        console.log(id, selected)

        if (selected == "" || selected == null) {
            return
        } else if (selected == "empty") {
            $("#"+id+"-text").val("")
            $("#"+id+"-text").text("")
            return
        }

        $.get(
            "/load/"+id+"s/"+selected,
            function(data) {
                try {
                    $.parseJSON(data)
                    j = JSON.stringify($.parseJSON(data), null, 4)
                    $("#"+id+"-text").val(j)
                    $("#"+id+"-text").text(j)
                } catch(e) {
                    j = JSON.stringify(data, null, 4)
                    $("#"+id+"-text").val(j)
                    $("#"+id+"-text").text(j)
                }
				if (id == "schema") {
					loadDecodeTypes()
				}
            }
        ).fail(function() {
            closeBtn = $("<button/>").addClass("close").attr("type", "button").attr("data-dismiss", "alert").attr("aria-label", "Close").append($("<span/>").attr("aria-hidden", "true").text("X"))
            $("#alert-container").append($("<div/>").addClass("alert alert-warning").attr("role", "alert").text("Cannot load data").append(closeBtn))
        })
    })

    $("button[type='reset']").click(function(e) {
        $("textarea").each(function(i, e) {
            $(e).val("")
            $(e).text("")
        });
    })
	
	$("#schema-text").on('input change paste', loadDecodeTypes)
	
	function loadDecodeTypes() {
		console.log("DERP")
		
		try {
			schema_records = $.map($.parseJSON($("#schema-text").val())['types'], function(v, k) {
				if (v[1] == "Record") {
					return v[0]
				}
			})
		} catch (e) {
			schema_records = $.parseJSON("{}")
			opt = $("<option/>").addClass("schema_record").attr("disabled", "").text("Cannot Load, Invalid Schema")
			$("#decode").append(opt)
		}
		
		$("#decode option.schema_record").remove()
		$.each(schema_records, function(i, sr) {
			opt = $("<option/>").addClass("schema_record").attr("value", sr).text(sr)
			$("#decode").append(opt)
		})
	}

    function validateForm() {
        try {
            $.parseJSON($("#schema-text").val())
        } catch(e) {
            closeBtn = $("<button/>").addClass("close").attr("type", "button").attr("data-dismiss", "alert").attr("aria-label", "Close").append($("<span/>").attr("aria-hidden", "true").text("X"))
            $("#alert-container").append($("<div/>").addClass("alert alert-warning").attr("role", "alert").text("Schema Invalid").append(closeBtn))
            return false
        }

        try {
            $.parseJSON($("#message-text").val())
        } catch(e) {
            closeBtn = $("<button/>").addClass("close").attr("type", "button").attr("data-dismiss", "alert").attr("aria-label", "Close").append($("<span/>").attr("aria-hidden", "true").text("X"))
            $("#alert-container").append($("<div/>").addClass("alert alert-warning alert-dismissible fade show").attr("role", "alert").text("Message Invalid").append(closeBtn))
            return false
        }

        return true
    }

    function format(id) {
        try {
            data = $("#"+id+"-text").val()
            j = JSON.stringify($.parseJSON(data), null, 4)
                    $("#"+id+"-text").val(j)
                    $("#"+id+"-text").text(j)
        } catch(e) {
			msg_id = "alert_"+alert_id
			alert_id++
			
            msg = id.charAt(0).toUpperCase() + id.slice(1) + " Invalid: " + e.message
            closeBtn = $("<button/>").addClass("close").attr("type", "button").attr("data-dismiss", "alert").attr("aria-label", "Close").append($("<span/>").attr("aria-hidden", "true").text("X"))
			msg = $("<div/>").addClass("alert alert-warning alert-dismissible fade show").attr("role", "alert").attr("id", msg_id).text(msg).append(closeBtn)
            $("#alert-container").append(msg)
			
			setTimeout(function (m_id) {
				$("#"+m_id).alert('close')
			}, 5000, msg_id)
        }
    }

</script>
{% endblock %}