{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}

    <div id="alert-container" class="w-50"></div>

    <div class="container-fluid mt-3">
        <div class="row">
            <form class="mx-auto col-12" action="/validate" method="post" onsubmit="return validateForm()">
                <fieldset>
                    <legend>JADN Schema</legend>
					<div class="form-row">
						<div class="form-group col-md-4">
							<select class="form-control" id="schema" name="schema">
								<option value="empty" selected="">Schema</option>
								{% for opt in options.schemas %}
									<option value="{{ opt }}">{{ opt }}</option>
								{% endfor %}
								<option disabled="">──────────</option>
								<option value="file">File...</option>
								<option value="">URL...</option>
							</select>
					   	</div>
						
						<div id="schema-file-group" class="form-group col-md-4 d-none">
							<input type="file" class="form-control-file" id="schema-file" name="schema-file" accept=".jadn">
					  	</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-12">
							<textarea class="form-control border" placeholder="Paste JADN schema here" id="schema-json" name="schema-json" rows="10" required=""></textarea>
						</div>
					</div>
					
					<div class="dropdown float-right">
  						<button class="btn btn-info dropdown-toggle" type="button" id="schemaOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						Schema Options
					  	</button>
					  	<div class="dropdown-menu" aria-labelledby="schemaOptions">
                       		<a class="dropdown-item" href="#" onclick="formatJson('schema-json')">Format</a>
                       		<a class="dropdown-item" href="#" onclick="formatJson('schema-json')">Verbose</a>
							<a class="dropdown-item" href="#" onclick="minifyJson('schema-json')">Minify</a>
							<a class="dropdown-item" href="#" onclick="verifySchema()">Verify</a>
					  	</div>
					</div>
                </fieldset>

                <fieldset>
                    <legend>Message</legend>
					<div class="form-row">
						<div class="form-group col col-md-4">
							<select class="form-control" id="message" name="message">
								<option value="empty" selected="">Message</option>
								{% for opt in options.messages %}
									<option value="{{ opt }}">{{ opt }}</option>
								{% endfor %}
								<option disabled="">──────────</option>
								<option value="file">File...</option>
								<option value="">URL...</option>
							</select>
						</div>
						
						<div id="message-file-group" class="form-group col-md-4 d-none">
							<input type="file" class="form-control-file" id="message-file" name="message-file" accept=".json">
					  	</div>
						
						<div class="form-group col-md-4">
							<select class="form-control" id="decode" name="decode" required="">
								<option value="empty" selected="">Decode</option>
							</select>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-12">
							<textarea class="form-control border" placeholder="Paste message to be validated here" id="message-json" name="message-json" rows="5" required=""></textarea>
						</div>
					</div>

					<div class="dropdown float-right">
  						<button class="btn btn-info dropdown-toggle" type="button" id="messageOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						Message Options
					  	</button>
					  	<div class="dropdown-menu" aria-labelledby="messageOptions">
                       		<a class="dropdown-item" href="#" onclick="formatJson('message-json')">Format</a>
                       		<a class="dropdown-item" href="#" onclick="formatJosn('message-json')">Verbose</a>
							<a class="dropdown-item" href="#" onclick="minifyJson('message-json')">Minify</a>
					  	</div>
					</div>
                </fieldset>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">Validate</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript">
    $("#schema, #message").change(function(e) {
        id = $(e.target).attr("id")
        selected = $(e.target).val()
		
		$("#"+id+"-file-group").addClass("d-none")
		
        if (selected == "" || selected == null) {
            return
        } else if (selected == "empty") {
            $("#"+id+"-json").text('').val('')
            return
        } else if (selected == "file") {
			console.log("File")
			$("#"+id+"-file-group").removeClass("d-none")
			return
		}

        $.get(
            "/load/"+id+"s/"+selected,
            function(data) {
                try {
                    $.parseJSON(data)
                    j = JSON.stringify($.parseJSON(data), null, indext)
                    $("#"+id+"-json").text(j).val(j)
                } catch(e) {
                    j = JSON.stringify(data, null, indext)
                    $("#"+id+"-json").text(j).val(j)
                }
				if (id == "schema") {
					loadDecodeTypes()
				}
            }
        ).fail(function() {
			alertMsg("#alert-container", "Cannot load data")
        })
    })
	
	$("#schema-file, #message-file").change(function(e) {
		src = $(e.target).attr("id").split('-')[0]
		var fileReader = new FileReader()
		
    	fileReader.onload = function () {
			try {
				data = $.parseJSON(fileReader.result)
				j = JSON.stringify(data, null, indext)
				$("#"+id+"-json").text(j).val(j)
            } catch(e) {
				j = JSON.stringify(fileReader.result, null, indext)
				$("#"+id+"-json").text(j).val(j)
            }
			
			if (id == "schema") {
				loadDecodeTypes()
			}
    	}
		
    	fileReader.readAsText($(e.target).prop('files')[0])
	})

    $("button[type='reset']").click(function(e) {
        $("textarea").each(function(i, e) {
            $(e).val("")
            $(e).text("")
        });
    })
	
	$("#schema-json").on('input change paste', loadDecodeTypes)
	
	function loadDecodeTypes() {		
		try {
			schema_records = $.map($.parseJSON($("#schema-json").val())['types'], function(v, k) {
				return [[v[1], v[0]]]
			})
		} catch (e) {
			schema_records = $.parseJSON("{}")
			opt = $("<option/>").addClass("schema_record").attr("disabled", "").text("Cannot Load, Invalid Schema")
			$("#decode").append(opt)
		}
		
		schema_records.sort(function(a, b){
			var r1 = a[0].toLowerCase();
  			var r2 = b[0].toLowerCase();
  			var n1 = a[1].toLowerCase();
  			var n2 = b[1].toLowerCase();

  			if (r1 < r2) return -1;
  			if (r1 > r2) return 1;
  			if (n1 < n2) return -1;
  			if (n1 > n2) return 1;
  			return 0;
		});
		
		$("#decode option.schema_record").remove()
		$.each(schema_records, function(i, v) {
			opt = $("<option/>").addClass("schema_record").attr("value", [v[1]]).text(v[0] + " - " + v[1])
			$("#decode").append(opt)
		})
	}

    function validateForm() {
        try {
            $.parseJSON($("#schema-json").val())
        } catch(e) {
			alertMsg("#alert-container", "Schema Invalid")			
			return false
        }

        try {
            $.parseJSON($("#message-json").val())
        } catch(e) {
			alertMsg("#alert-container", "Message Invalid")
        }
		
		decode = $("#decode option:selected").val()
		if ($.inArray(decode, [null, "", "empty"]) >= 0) {
			alertMsg("#alert-container", "Message Decode Type Invalid")			
            return false
		}

        return true
    }
	
	function verifySchema(id) {
		data = $("#schema-json").val()
		
		 $.post(
            "/validate/schema",
			{
				"schema-json": data
			},
            function(d) {
				if (d['valid_bool']) {
					msg = "Valid Schema: " + d['valid_msg']
					alertMsg("#alert-container", msg, 3)
				} else {
					msg = "Invalid Schema: " + d['valid_msg'].replace(/^.*?\-/, '')
					alertMsg("#alert-container", msg)
				}
			}
		)
	}
</script>
{% endblock %}