{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="card mx-auto w-100">
                <div class="card-header">
                    <h3>Status</h3>
                </div>
                <div class="card-body scroll">
                    <p>Valid: {{ page_data.valid_bool }}</p>
                    <p>{{ page_data.valid_msg }}</p>
                </div>
            </div>

            <div class="col-12" style="height: 1.5em;"></div>

            <div class="card mx-auto w-100">
                <div class="card-header">
                    <h3>Schema</h3>
                </div>
                <div class="card-body scroll">
                    <pre>{{ page_data.schema }}</pre>
                </div>
            </div>

            <div class="col-12" style="height: 1.5em;"></div>

            <div class="card mx-auto w-100">
                <div class="card-header">
                    <h3>Message - {{ page_data.message_type }}</h3>
                </div>
                <div class="card-body scroll">
                    <pre>{{ page_data.message }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
<script type="text/javascript">

</script>
{% endblock %}