{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}
	
	<div id="alert-container" class="w-50"></div>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="card border-{{'success' if page_data.valid_bool else 'danger'}} mx-auto w-100">
                <div class="card-header">
                    <h3>Status</h3>
                </div>
                <div class="card-body">
                    <p>Valid: {{ page_data.valid_bool }}</p>
                    <p>{{ page_data.valid_msg }}</p>
                </div>
            </div>

            <div class="col-12" style="height: 1.25em;"></div>

            <div class="card mx-auto w-100">
                <div class="card-header">
                    <h3 class="float-left">Schema</h3>
					
					<div class="float-right btn-group">
						<button type="button" class="btn btn-outline-secondary" onclick="format('schema')">Verbose</button>
						<button type="button" class="btn btn-outline-secondary" onclick="minify('schema')">Minify</button>
					</div>
                </div>
                <div id="schema" class="card-body scroll code">{{ page_data.schema }}</div>
            </div>

            <div class="col-12" style="height: 1.25em;"></div>

            <div class="card mx-auto w-100">
                <div class="card-header">
                    <h3 class="float-left">Message - {{ page_data.message_type }}</h3>
					
					<div class="float-right btn-group">
						<button type="button" class="btn btn-outline-secondary" onclick="format('message')">Verbose</button>
						<button type="button" class="btn btn-outline-secondary" onclick="minify('message')">Minify</button>
					</div>
                </div>
                <div id="message" class="card-body scroll code">{{ page_data.message }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript">

</script>
{% endblock %}