/* Font Imports  */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(/assets/fonts/Lato-Italic.ttf) format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/Lato-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/Lato-Bold.ttf) format('truetype')
}

.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: fixed;
  opacity: 0.75;
  z-index: 2000;
  pointer-events: none;
  &::before, &::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #b92929;
  }
  span {
    position: absolute;
    display: block;
    width: 150px;
    padding: 10px 0;
    background-color: #b92929;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 16px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
}
/* top left */
.ribbon {
  &-top-left {
    top: -26px;
    left: -26px;
    &::before, &::after {
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
    span {
      right: -25px;
      top: 30px;
      transform: rotate(-45deg);
    }
  }
}
