{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}
	
	<div id="alert-container" class="w-50"></div>

    <div class="container-fluid mt-3">
        <div class="row">
			<div class="card col-12 p-0 mx-auto">
				<div class="card-header">
					<h3 class="float-left">JADN Schema</h3>					
				</div>
				<div class="card-body">
					<div class="form-row">
						<div class="form-group col-md-3 pr-1 pl-1">
							<select id="schema-list" name="schema-list" class="form-control">
								<option value="empty" selected="">Schema</option>
								{% for opt in options.schemas %}
									<option value="{{ opt }}">{{ opt }}</option>
								{% endfor %}
								<option disabled="">──────────</option>
								<option value="file">File...</option>
								<option value="url">URL...</option>
							</select>
						</div>

						<div id="schema-file-group" class="form-group col-md-4 d-none pr-1 pl-1">
							<input type="file" class="btn btn-light form-control-file" id="schema-file" name="schema-file" accept=".jadn">
						</div>

						<div id="schema-url-group" class="form-group col-md-4 d-none pr-1 pl-1">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-info" onclick="loadURL('schema')">Load URL</button>
								</div>
								<input type="text" class="form-control" id="schema-url">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<textarea class="form-control border" placeholder="Paste JADN schema here" id="schema" name="schema" rows="10" required=""></textarea>
						</div>
					</div>

					<div class="row-fluid">
						<div class="dropdown float-right">
							<button class="btn btn-info dropdown-toggle" type="button" id="schema-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Schema Options
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="schema-options">
								<a class="dropdown-item" href="#" onclick="format('schema')">Format</a>
								<a class="dropdown-item" href="#" onclick="format('schema')">Verbose</a>
								<a class="dropdown-item" href="#" onclick="minify('schema')">Minify</a>
								<a class="dropdown-item" href="#" onclick="loadDecodeTypes()">Load</a>
								<a class="dropdown-item" href="#" onclick="verifySchema()">Verify</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-12" style="height: 1.25em;"></div>
			
			<div class="col-12 mx-auto">
				<h3>Message Creator</h3>
				<div class="card col-12 p-0 mx-auto">
					<div class="card-header">
						<div class="form-group col-md-3 p-0 m-0 float-left">
							<select id="message-list" name="message-list" class="form-control">
								<option value="empty" selected="">Message Type</option>
							</select>
						</div>
					</div>
					<div id="message-fields" class="card-body">
						<p>Message Fields will appear here</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block page_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vkbeautify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/openc2.js') }}"></script>
<script type="text/javascript">
	var oc2 = new $.OpenC2("#message-list", "#message-fields", function(msg) { alertMsg("#alert-container", msg) })
	var schema = {}
	var message = {}
	
    $("#schema-list").change(function(e) {
        id = $(e.target).attr("id")
		type = id.split('-')[0]
        selected = $(e.target).val()
		
		$("#"+type+"-file-group").addClass("d-none")
		
        if (selected == "" || selected == null) {
			$("#"+type+"-url-group").removeClass("d-none")
			$("#"+type+"-file-group").removeClass("d-none")
            return
        } else if (selected == "empty") {
			$("#"+type).text("").val("")
            return
        } else if (selected == "file") {
			$("#"+type+"-url-group").addClass("d-none")
			$("#"+type+"-file-group").removeClass("d-none")
			return
		} else if (selected == "url") {
			$("#"+type+"-file-group").addClass("d-none")
			$("#"+type+"-url-group").removeClass("d-none")
			return
		} else {
			$("#"+type+"-file-group").addClass("d-none")
			$("#"+type+"-url-group").addClass("d-none")
		}

        $.get(
            "/load/"+type+"s/"+selected,
            function(data) {
				if (data['type'] == type+"s" && data['file'] == selected) {
					$("#"+type).removeClass('minify format')
					
					if (type == "schema") {
						$("#"+type).text(data['data']).val(data['data'])
						schema = JSON.parse(data['data'])
						oc2.initSchema(schema)
					}
				} else {
					alertMsg("#alert-container", "Cannot load data")
				}
            }
        ).fail(function() {
			alertMsg("#alert-container", "Cannot load data")
        })
    })
	
	$("#schema-file").change(function(e) {
		// TODO: NEEDS WORK!!!
		id = $(e.target).attr("id").split('-')[0]
		var fileReader = new FileReader()
		
    	fileReader.onload = function (e) {
			data = fileReader.result
			try {
				dataStr = atob(data.split(',')[1])
				j = JSON.stringify($.parseJSON(dataStr), null, indent)
            } catch(e) {
				data = atob(data.substr(data.indexOf(',')+1))
				$("#"+type).addClass('minify')
				j = cbor2bytes(data.hexify())
            }
			$("#"+id).text(j).val(j)
			
			if (id == "schema") {
				loadDecodeTypes()
			}
    	}
		
    	fileReader.readAsDataURL($(e.target).prop('files')[0])
		t = $(e.target).prop('files')[0].name.split('.')[1]
		$("#message-format").val(t)
	})
	
	function loadURL(id) {
		url = $('#'+id+'-url').text() || $('#'+id+'-url').val()
		
		file = url.substring(url.lastIndexOf("/") + 1)
		fileName = file.substring(0, file.lastIndexOf("."))
		fileExt = file.substring(file.lastIndexOf(".") + 1)
		
		switch (fileExt) {
			case 'jadn':
				if (id != 'schema'){
					alertMsg("#alert-container", "Cannot load {ext} data as {id}".format({id: id, ext: fileExt}))
					return
				}
				break;
			default:
				alertMsg("#alert-container", "Cannot load {id} data, improper file type {ext}".format({id: id, ext: fileExt}))
				return
		}

		$.get(
			url,
			function(data) {
				$('#'+id).text(data).val(data)
				format(id)
				try {
					schema = JSON.parse(data)
				} catch(e) {
					alertMsg("#alert-container", "An error has occured loading the {id} data from {file}.The {id} is improperly formatted".format({id: id, file: file}))
				}
			}
		).fail(function() {
			alertMsg("#alert-container", "An error has occured loading the {id} data from {file}.Check the URL and try again".format({id: id, file: file}))
		})
	}
	
	function verifySchema(id) {
		data = $("#schema").val() || $("#schema").text()
		
		 $.post(
            "/validate/schema",
			{
				"schema": data
			},
            function(d) {
				if (d['valid_bool']) {
					msg = "Valid Schema: " + d['valid_msg']
					alertMsg("#alert-container", msg, 3)
				} else {
					msg = "Invalid Schema: " + d['valid_msg'].replace(/^.*?\-/, '')
					alertMsg("#alert-container", msg)
				}
			}
		)
	}

</script>
{% endblock %}