/* Font Imports  */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

$max-width: 1400px;
$max-scroll: 20em;

/* Custom Styles */
/* Use frugally, last resort, bootstrap first */

.hoverSubmit span {
    width: auto;
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.hoverSubmit:hover span {
    max-width: 5rem;
    margin-right: 10px;
}

.nowrap {
    white-space: nowrap;
}

.title-text {
    color: var(--bs-link-color-rgb);
}

body {
    padding-top: 75px;
}

#alert-container {
    z-index: 100;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.25rem !important;
    line-height: normal !important;
}

input {
    width: 100%;
}

.btn-block {
    width: 100%;
}

.input-group {
    flex-wrap: nowrap !important;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
    text-align: right;
}

/* Pretty JSON Module theme */
.json-pretty {
    font-family: 'Roboto', monaco, monospace;
    font-size: 0.8zem;
    line-height: inherit;
    color: #D4D4D4;
    background-color: #FCFDFD;

    .json {
        &-key {
            color: #59A5D8;
        }

        &-value,
        &-boolean {
            color: #386FA4;
        }

        &-string {
            color: #FA7921;
        }
    }
}

.code,
textarea {
    font-family: 'Roboto', Consolas, monaco, monospace;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    white-space: pre-wrap;
}

div {
    &.scroll {
        max-height: $max-scroll;
        overflow: scroll;

        &-lg {
            max-height: $max-scroll*2;
            overflow: scroll;
        }

        &-xl {
            max-height: $max-scroll*3;
            overflow: scroll;
        }
    }
}

legend {
    font-size: inherit !important;
    font-weight: bold !important;
}

small {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cm-editor * {
    font-family: Consolas, monaco, monospace;
    font-size: 12px;
}

#command-fields {
    .form-group {
        margin: .5em;
    }
}

/* Bootstrap Overrides */
a,
.btn-link {
    text-decoration: none !important;
}

.card-header {
    padding: 8px !important;
    height: 100%;
}

.card-body {
    padding: 8px !important;
}

.card-body-page {
    height: 70vh;
    overflow-y: auto;
    padding: 0;
}

.form-control-sm {
    height: 30px;
}

.card-body-scroller {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: fit-content;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.form-group {
    margin-bottom: 0.3rem !important;
}

.form-label {
    margin-bottom: 0;
}

.navbar-brand>img {
    max-height: 2em;
    width: auto;
    -moz-padding: 15px;
    /* firefox bug fix */
}

.nav-item {
    cursor: pointer;
    padding: 8px;
    text-align: center;
}

.sticky-offset {
    top: 65px !important;
}

.sb-outline {
    .list-group-item {
        cursor: grab !important;
        color: inherit;
    }
}

.sb-outline {
    .list-group-item:hover {
        cursor: grab !important;
        color: inherit;
    }
}

#schema-options {

    .nav-item {
        padding: 0;

        a {
            cursor: pointer;
            padding: 4px 10px;
        }
    }

    .list-group-item {
        cursor: pointer !important;
        color: inherit;
    }

}

.text-area-w100 {
    width: 100%;
    max-width: 100%;
}

.scroll-top-btn {
    z-index: 999;
    position: fixed;
    right: 1em;
    bottom: 3em;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .collapse {
        display: none !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .collapse {
        display: none !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

@import '~bootstrap/scss/bootstrap.scss';

// Color mode variables in _root.scss
@include color-mode(dark) {
    $primary: #375a7f;
    $secondary: #383a40;

    .sb-outline {
        .highlight-color {
            background-color: #{$secondary} !important;
        }
    }

    .form-control {
        background-color: #383a40 !important;
    }

    [class*="primary"]:not(.btn-outline-primary) {
        background-color: #{$primary} !important;
    }

    [class*="secondary"]:not(.btn-outline-secondary) {
        background-color: #{$secondary} !important;
    }

    .btn-outline-primary,
    .btn-primary {
        border: $primary;
    }

}

@include color-mode(light) {
    $secondary: #E0E0E0;

    .sb-outline {
        .highlight-color {
            background-color: #{$secondary} !important;
        }
    }

    [class*="secondary"]:not(.btn-outline-secondary) {
        background-color: #{$secondary} !important;
    }

    .btn-outline-secondary,
    .btn-secondary {
        border: $secondary;
    }

}