/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('./fonts/roboto-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-mono-v5-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* Custom CSS Styles */
body {
	padding-top: 60px;
}
.navbar-brand > img {
  max-height: 2em;
  width: auto;
  -moz-padding: 15px; /* firefox bug fix */
}
#alert-container {
	z-index: 100;
	position: fixed;
	bottom: 1em;
	right: 1em;
}
.container-fluid .row > * {
    max-width: 1200px;
}
.code, textarea {
    font-family: 'Roboto Mono', Consolas, monaco, monospace;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	white-space: pre-wrap;
}
div.scroll {
    max-height: 20em;
    overflow: scroll;
}
div.scroll-large {
    max-height: 40em;
    overflow: scroll;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}