{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="card mx-auto border-warning mb-3">
                <div class="card-header">
                    <h3>{{ error.title if error.title else 'Error' }}</h3>
                </div>
                <div class="card-body">
					{% for line in error.message %}
                    	<p>{{ line }}</p>
					{% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}