{% extends "static/base.html" %}
{% block body %}
    {% include "static/nav.html" %}

    <div id="alert-container" class="w-50">
		{% for err in errors %}
			<div class="alert alert-warning" role="alert" id="conv_err">
				<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ err }}
			</div>
		{% endfor %}
	</div>

    <div class="container-fluid mt-3">
        <div class="row">
            <form class="mx-auto col-12" action="/convert" method="post" onsubmit="return validateForm()">		
				<div class="form-row">
					<fieldset class="col-6 p-0 float-left">
						<legend>JADN Schema</legend>
						
						<textarea class="form-control border" placeholder="Paste JADN schema here" id="schema" name="schema" rows="25" required="">{{ options.schema.base }}</textarea>
						
						<div class="dropdown float-right">
							<button class="btn btn-sm btn-info dropdown-toggle" type="button" id="schema-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Schema Options
							</button>
							<div class="dropdown-menu" aria-labelledby="schema-options">
								<a class="dropdown-item" href="#" onclick="format('schema')">Format</a>
								<a class="dropdown-item" href="#" onclick="format('schema')">Verbose</a>
								<a class="dropdown-item" href="#" onclick="minify('schema')">Minify</a>
								<a class="dropdown-item" href="#" onclick="verifySchema()">Verify</a>
							</div>
						</div>
						
						<div class="form-row">
							<div class="form-group col-md-4 pr-1 pl-1">
								<select id="schema-list" name="schema-list" class="form-control">
									<option value="empty" {% if not request.form['schema-list'] %}selected=""{% endif %}>Schema</option>
									{% for opt in options.schemas %}
										<option value="{{ opt }}" {% if request.form['schema-list'] == opt %}selected=""{% endif %}>{{ opt }}</option>
									{% endfor %}
									<option disabled="">──────────</option>
									<option value="file">File...</option>
									<option value="">URL...</option>
								</select>
							</div>

							<div id="schema-file-group" class="form-group col-md-3 d-none pr-1 pl-1">
								<input type="file" class="form-control-file" id="schema-file" name="schema-file" accept=".jadn">
							</div>
						</div>						
					</fieldset>

					<fieldset class="col-6 p-0 float-left">
						<legend>Converted</legend>
						<textarea class="form-control border" placeholder="Converted JADN schema" id="convert" name="convert" rows="25">{{ options.schema.convert }}</textarea>
						<button type="button" class="btn btn-sm btn-primary float-right" onclick="downloadFile()">Download</button>
					</fieldset>
				</div>
				
				<div class="col-12"></div>
				
				<div class="form-group">
					<div class="form-group col-md-3 pr-1 pl-1">
						<select id="convert-to" name="convert-to" class="form-control">
							<option value="empty" {% if not request.form['convert-to'] %}selected=""{% endif %}>Convert To...</option>
								{% for conv in options.convs %}
									<option value="{{ conv }}" {% if request.form['convert-to'] == conv %}selected=""{% endif %}>{{ conv }}</option>
								{% endfor %}
						</select>
					</div>
                    <button type="submit" class="btn btn-outline-primary">Convert</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vkbeautify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript">
    $("#schema-list").change(function(e) {
        id = $(e.target).attr("id")
		type = id.split('-')[0]
        selected = $(e.target).val()
		
		$("#"+type+"-file-group").addClass("d-none")
		
        if (selected == "" || selected == null) {
            return
        } else if (selected == "empty") {
            $(e).text("").val("")
            return
        } else if (selected == "file") {
			$("#"+type+"-file-group").removeClass("d-none")
			return
		}

        $.get(
            "/load/"+type+"s/"+selected,
            function(data) {
				if (data['type'] == type+"s" && data['file'] == selected) {
					$("#"+type).removeClass('minify format')
					$("#"+type).text(data['data']).val(data['data'])
				} else {
					alertMsg("#alert-container", "Cannot load data")
				}
            }
        ).fail(function() {
			alertMsg("#alert-container", "Cannot load data")
        })
    })
	
	$("#schema-file").change(function(e) {
		// TODO: NEEDS WORK!!!
		id = $(e.target).attr("id").split('-')[0]
		var fileReader = new FileReader()
		
    	fileReader.onload = function (e) {
			data = fileReader.result
			try {
				j = JSON.stringify($.parseJSON(data), null, indent)
            } catch(e) {
				data = atob(data.substr(data.indexOf(',')+1))
				$("#"+type).addClass('minify')
				j = cbor2bytes(data)
            }
			$("#"+id).text(j).val(j)
			
			if (id == "schema") {
				loadDecodeTypes()
			}
    	}
		
    	fileReader.readAsDataURL($(e.target).prop('files')[0])
	})

    $("button[type='reset']").click(function(e) {
        $("textarea").each(function(i, e) {
            $(e).text("").val("").removeClass('minify format')
        });
    })
	
	$("#schema").on('input change paste', loadDecodeTypes)
	
	function loadDecodeTypes() {
		data = $("#schema").val() || $("#schema").text()
		try {
			schema_records = $.map($.parseJSON(data)['meta']['exports'], function(v, k) {
				return v
			})
		} catch (e) {
			schema_records = $.parseJSON("{}")
			opt = $("<option/>").addClass("schema_record").attr("disabled", "").text("Cannot Load, Invalid Schema")
			$("#message-decode").append(opt)
		}
		
		schema_records.sort();
		
		$("#message-decode option.schema_record").remove()
		$.each(schema_records, function(i, v) {
			opt = $("<option/>").addClass("schema_record").attr("value", v).text(v)
			$("#message-decode").append(opt)
		})
	}
	
	function downloadFile() {
		
	}

    function validateForm() {
		schema = $("#schema").val() || $("#schema").text()
        try {
            $.parseJSON(schema)
        } catch(e) {
			alertMsg("#alert-container", "Schema Invalid")			
			return false
        }

        return true
    }
	
	function verifySchema(id) {
		data = $("#schema").val() || $("#schema").text()
		
		 $.post(
            "/validate/schema",
			{
				"schema": data
			},
            function(d) {
				if (d['valid_bool']) {
					msg = "Valid Schema: " + d['valid_msg']
					alertMsg("#alert-container", msg, 3)
				} else {
					msg = "Invalid Schema: " + d['valid_msg'].replace(/^.*?\-/, '')
					alertMsg("#alert-container", msg)
				}
			}
		)
	}
</script>
{% endblock %}